.btn-container{
    margin-left: 5vh;
}

.btn-trivia {
    font: inherit;
    border: 1px solid;
    padding: 4px;
    cursor: pointer;
    background-color: red;
    color: white;
}

.btn-trivia:hover {
    background-color: pink;
    color: black;
}