.container{
    min-height: 100vh;
    margin: 0;
    background-color: darkorchid;
}
.title{
    flex: 1;
    background-color: aqua;
    justify-self: center;
}
.border{
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    border: solid black;
}
.form-container{
    flex: 1;
    background-color: rgb(43, 70, 226);
}
.fact-container {
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    background-color: blue;
}
.facts {
    flex: 1;
    justify-content: center;
}