.container {
  min-height: 100vh;
  margin: 0;
}
.title {
  flex: 1;
  justify-self: center;
}
.border {
    width:100%;
    display: flex;
}
.position {
    margin: auto;
    border: solid black;
}
.form-container {
  flex: 1;
  background-color: red;
}
.fact-container {
  display: flex;
  margin-top: 10%;
  flex-direction: row;
}
.facts {
  flex: 1;
  justify-content: center;
}
/* .fact {
  position: relative;
} */
