.container {
  min-height: 100vh;
  margin: 0;
}
.title {
  flex: 1;
  justify-self: center;
}
.border {
  width: 100%;
  display: flex;
}
.position {
  margin: auto;
  border: solid black;
}
.form-container {
  flex: 1;
  background-color: red;
}
.fact-container {
  margin-top: 10%;
}
.facts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .fact {
  position: relative;
} */
